{% for course in include.courses %}
<a href="{{ course.url }}" target="course-detail">
  <div class="course-card hvr-float">
    <div class="hero">
      <div class="title">
        {{ course.title }}
      </div>
      {% if course.image %}
      <img src="{{ course.image }}" width="150" height="150">
      {% endif %}
    </div>

    <div class="action" style="background: {{ course.bg }}">
      {% if course.price %}
      <div class="date-price">
        <div>{{ course.releaseDate }}</div>
        <span class="price strike">${{ course.price }}</span>
      </div>
      <div class="preorder-price">Pre-orders: ${{course.preorderPrice}}</div>
      {% else %}
      Vote For This Course
      {% endif %}
    </div>
  </div>
</a>
{% endfor %}
