{% for course in include.courses %}
<div class="course-card hvr-float">
  <a href="{{ course.url }}" target="course-detail">
    <div class="hero" style="background: {{ course.bg }}">
      <div class="title">
        {{ course.title }}
      </div>
      <!--
    <div class="description">
      <div>{{ course.description}}</div>
      {% if course.url %}
      <a href="{{ course.url }}">Learn more &gt;</a>
      {% endif %}
    </div>
    -->
      <div class="date-price">
        <div>{{ course.releaseDate }}</div>
        {% if course.price %}
        <div>${{ course.price }}</div>
        {% endif %}
      </div>
    </div>
  </a>

  {% if course.preorderPrice %}
  <a href="{{ course.buyUrl }}" target="action">
    <div class="action">
        Pre-order for ${{course.preorderPrice}}
    </div>
  </a>
  {% else %}
  <a href="{{ course.url }}" target="action">
    <div class="action">
        Vote For This Course
    </div>
  </a>
  {% endif %}
</div>
{% endfor %}
