---

<div class="center">
  <h2>Some nice things people have said:</h2>
</div>

<div class="tweets">
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">What is React? Brilliant explanation for designers (make sure to switch &quot;Domo&#39;s&quot; hat 🤠) <a href="https://t.co/CF5Csuhi4L">https://t.co/CF5Csuhi4L</a> <a href="https://twitter.com/hashtag/react?src=hash">#react</a> <a href="https://twitter.com/hashtag/design?src=hash">#design</a></p>&mdash; Domain7 (@domain7) <a href="https://twitter.com/domain7/status/874286463772504064">June 12, 2017</a></blockquote>

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">What a fun way for us newbies to learn about <a href="https://twitter.com/hashtag/React?src=hash">#React</a>! =&gt; &quot;What is React? React terms in plain English and doodles&quot; <a href="https://t.co/UZ9mtx3Z6K">https://t.co/UZ9mtx3Z6K</a></p>&mdash; Tiffany Du (@dusign) <a href="https://twitter.com/dusign/status/875430601322528780">June 15, 2017</a></blockquote>

  <blockquote class="twitter-tweet" data-lang="en"><p lang="fr" dir="ltr">Clean explanation and illustrations of what is React and it&#39;s côté concepts ~ <a href="https://t.co/PtCs0bYs7u">https://t.co/PtCs0bYs7u</a></p>&mdash; Jérémy Buget (@jbuget) <a href="https://twitter.com/jbuget/status/874880691863003138">June 14, 2017</a></blockquote>

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">come for the adorable drawings, stay for the writing <a href="https://t.co/Cymf8TkVVw">https://t.co/Cymf8TkVVw</a></p>&mdash; brent (@notbrent) <a href="https://twitter.com/notbrent/status/879487035655860224">June 26, 2017</a></blockquote>

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Lovely simple guide to understand React by <a href="https://twitter.com/lintonye">@lintonye</a> <a href="https://t.co/O9QxXhtpXe">https://t.co/O9QxXhtpXe</a></p>&mdash; Leonardo Galante (@leogln_) <a href="https://twitter.com/leogln_/status/879718877390934017">June 27, 2017</a></blockquote>

  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">cute/easy way to learn &quot;What is <a href="https://twitter.com/hashtag/React?src=hash">#React</a>?&quot; <a href="https://t.co/5BAY3Oe5qI">https://t.co/5BAY3Oe5qI</a></p>&mdash; Laura Silva (@oolalalauraa) <a href="https://twitter.com/oolalalauraa/status/872888299517378560">June 8, 2017</a></blockquote>

</div>
