div.tweets {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  overflow: auto;
  * {
    margin: 5px;
  }
}

$padding: 10px;

@mixin flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

div.course-container {
  @include flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .course-card {
    @include flex;
    max-width: 220px;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    border-width: 0;
    font-size: 0.8em;
    // border-color: #eeeeee;
    // border-radius: 2px;
    // border-style: solid;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 5px;
    .hero {
      @include flex;
      padding: $padding;
      // background: #673AB7;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      * { color: #222222; }
      cursor: pointer;
      .title {
        font-size: 1.1em;
        font-weight: bold;
      }
    }
    .action {
      @include flex;
      flex-direction: column;
      color: white;
      padding: $padding;
      font-weight: bold;
      align-items: flex-end;
      cursor: pointer;
    }
    .date-price {
      @include flex;
      flex-direction: row;
      justify-content: space-between;
      flex-grow: 1;
      align-self: stretch;
      // font-weight: bold;
      .price {
        color: white;
      }
    }
    .strikethrough {
      color: red;
      text-decoration: line-through;
    }
  }
}

div.profile-container {
  @include flex;
  flex-wrap: wrap;
  div.linton-photo {
    background-image: url('/images/linton-profile.jpg');
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 150px;
    border-radius: 100px;
    margin-top: 10px;
    margin-right: 20px;
  }
  div.linton-photo:hover {
    background-image: url('/images/linton-profile-2.jpg');
  }
  div.content {
    flex-grow: 1;
    flex-basis: 520px;
  }
}

.center {
  text-align: center;
}
