div.tweets {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  overflow: auto;
  * {
    margin: 5px;
  }
}

$padding: 10px;

@mixin flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

div.course-container {
  @include flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .course-card {
    @include flex;
    max-width: 220px;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    border-width: 0;
    font-size: 0.8em;
    // border-color: #eeeeee;
    // border-radius: 2px;
    // border-style: solid;
    box-shadow: 0 2px 2px 0 rgba(5, 27, 23, 0.34), 0 3px 1px -2px rgba(0, 0, 0, 0.42), 0 1px 5px 0 rgba(16, 16, 16, 0.41);
    margin: 5px;
    .hero {
      @include flex;
      padding: $padding;
      // background: #673AB7;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      * { color: #212121; }
      cursor: pointer;
      .title {
        font-size: 1.1em;
        font-weight: bold;
      }
      img {
        margin: 15px;
      }
    }
    .action {
      @include flex;
      display: none;
      flex-direction: column;
      color: #063a69;//#424242;
      padding: $padding;
      // font-weight: bold;
      align-items: flex-end;
      font-size: 1.1em;
      cursor: pointer;
    }
    .date-price {
      @include flex;
      flex-direction: row;
      justify-content: space-between;
      flex-grow: 1;
      align-self: stretch;
      // font-weight: bold;
    }
    .preorder-price {
      font-style: italic;
    }
    .strike {
      position: relative;
    }
    .strike::after {
        content: '';
        border-bottom: 2px solid red;
        position: absolute;
        left: 0;
        top: 42%;
        width: 100%;
    }
  }
}

div.profile-container {
  @include flex;
  flex-wrap: wrap;
  div.linton-photo {
    background-image: url('/images/linton-profile.jpg');
    flex-basis: 150px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 150px;
    border-radius: 100px;
    margin-top: 10px;
    margin-right: 20px;
  }
  div.linton-photo:hover {
    background-image: url('/images/linton-profile-2.jpg');
  }
  div.content {
    flex-grow: 1;
    flex-basis: 520px;
  }
}

.center {
  text-align: center;
}

.why-preorder {
  font-size: 0.9em;
  margin-top: 20px;
  text-align: center;
}

.video-wrapper {
  position: relative;
  padding-bottom: 52.6%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.curriculum-container {
  .chapter-container {
    @include flex;
    flex-direction: column;
    margin-bottom: 30px;
    .chapter-title {
      font-weight: bold;
      // text-align: center;
      // background: #d0d0d0;
      font-size: 1.1em;
      padding: 4px;
      margin: 4px 0 4px 0;
    }
    .chapter-subtitle {
      padding: 4px;
    }
    .chapter-content-container {
      @include flex;
      flex-wrap: wrap;
      img {
        width: 220px;
      }
      .video-container {
        margin: 4px;
        position: relative;
        max-width: 220px;
      }
      .annotation {
        font-size: 0.8em;
        color: white;
      }
      .video-index {
        position: absolute;
        left: 5px;
        top: 0;
      }
      .video-length {
        position: absolute;
        right: 5px;
        top: 0;
      }
      .video-title {
        margin: 10px 0 10px 0;
        text-align: center;
        font-size: 0.9em;
      }
      .order {
        position: absolute;
        top: 30%;
        left: 23%;
      }
    }
  }
}
