@import "globals.scss";

.site-header {
  background: #fff;
    
  nav {
    padding: 22px 30px;
        
    > a {
      color: #444;
      margin-right: 1.8em;
      font-weight: 600;
      font-size: 15px;
      &:hover { color:$accent; }
    }

    .brand img {
      height:40px;
      margin-top:-2px;
      vertical-align: middle;
    }
  }
}
